# frontend
node_modules
package-lock.json

# logs
*.log

# env
.env
env

# docs
tech.*

# ide
.vscode/
.vs/
.idea/

# deploy
dist/

# temp
frontend/
docker/
docker-compose.*
config.toml
backend/coverage
Dockerfile
backend/gateway/docs/
